<ion-header>
  <ion-toolbar>
    <ion-title>enrollmentconfirmation_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="container1">
      <div class="Logo">
        <ion-img class="Size" src="https://enroll.lccdo.edu.ph/assets/img/lclogo.png"></ion-img>
      </div>
      <div class="info">
        <h1>LOURDES COLLEGE</h1>
        <h3>CAGAYAN DE ORO CITY</h3>
      </div>
      <div class="input">
        <ion-item>
          <ion-label>STUDENT INFORMATION</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ID NUMBER</ion-label>
          <ion-text>S</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>COMPLETE NAME</ion-label>
          <ion-text>S</ion-text>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>
