<ion-header>
  <ion-toolbar>
    <ion-title>newandtransferstudentsenrollment_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="container1">  
      <div class="Logo">
        <ion-img class="Size" src="https://enroll.lccdo.edu.ph/assets/img/lclogo.png"></ion-img>
      </div>
      <div class="info">
        <h1>LOURDES COLLEGE</h1>
        <h3>CAGAYAN DE ORO CITY</h3>
      </div>
      <div class="input">
        <ion-item>
          <ion-label>ID Number</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </div> 
      <div class="input">
        <ion-item>
          <ion-label class="center">STUDENT INFORMATION</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Last name:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>First name:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Middle name:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Address:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Contact #:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Blood type:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Birthdate:</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </div>
      <div class="input">
        <ion-item>
          <ion-label class="center">COURSE AND SUBJECTS</ion-label>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-label>COURSE:</ion-label>
            <ion-select interface="action-sheet" slot="end" placeholder="SELECT COURSE">
              <ion-select-option>BSIT</ion-select-option>
              <ion-select-option>BUSINESS</ion-select-option>
              <ion-select-option>ACCOUNTING</ion-select-option>
            </ion-select>
          </ion-item>
        <ion-item>
          <ion-grid>
              <ion-row>
                <ion-col size="auto" style="border: 0px">Subject</ion-col>
                <ion-col style="border: 0px"></ion-col>
                <ion-col class="unit" size="1" style="border: 0px">Unit</ion-col>
              </ion-row>
              <ion-row>             
                <ion-col size="auto" style="border-right: 0px"><ion-checkbox color="success"></ion-checkbox></ion-col>
                <ion-col style="border-left: 0px">Subject #1</ion-col>
                <ion-col class="unit" size="1">5</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="auto" style="border-right: 0px"><ion-checkbox color="success"></ion-checkbox></ion-col>
                <ion-col style="border-left: 0px">Subject #1</ion-col>
                <ion-col class="unit" size="1">5</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="auto" style="border-right: 0px"><ion-checkbox color="success"></ion-checkbox></ion-col>
                <ion-col style="border-left: 0px">Subject #1</ion-col>
                <ion-col class="unit" size="1">5</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="auto" style="border-right: 0px"><ion-checkbox color="success"></ion-checkbox></ion-col>
                <ion-col style="border-left: 0px">Subject #1</ion-col>
                <ion-col class="unit" size="1">5</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="auto" style="border-right: 0px"><ion-checkbox color="success"></ion-checkbox></ion-col>
                <ion-col style="border-left: 0px">Subject #1</ion-col>
                <ion-col class="unit" size="1">5</ion-col>
              </ion-row>           
          </ion-grid>
        </ion-item>
        </ion-list>
      </div>
      <div class="input">
        <ion-item>
          <ion-col style="border: 1px" size="11">TOTAL UNITS FOR THIS SEMESTER:</ion-col>
          <ion-col style="border: 1px" size="1">20</ion-col>
        </ion-item>
      </div>
      <div class="input">
        <ion-label class="ion-text-center">REQUIREMENTS</ion-label>
        <ion-item>
          <ion-grid>             
              <ion-row>
                <ion-col size="auto" style="border-right: 0px"><ion-checkbox color="success"></ion-checkbox></ion-col>
                <ion-col size="11" style="border-left: 0px">TOR</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="auto" style="border-right: 0px"><ion-checkbox color="success"></ion-checkbox></ion-col>
                <ion-col size="11" style="border-left: 0px">DEPLOMA</ion-col>
              </ion-row> 
              <ion-row>
                <ion-col size="auto" style="border-right: 0px"><ion-checkbox color="success"></ion-checkbox></ion-col>
                <ion-col size="11" style="border-left: 0px">FORM 137</ion-col>
              </ion-row> 
              <ion-row>
                <ion-col size="auto" style="border-right: 0px"><ion-checkbox color="success"></ion-checkbox></ion-col>
                <ion-col size="11" style="border-left: 0px">2X2 PICTURE</ion-col>
              </ion-row>            
          </ion-grid>
        </ion-item>              
      </div>
      <div class="input">
        <ion-item>
          <ion-grid>             
              <ion-row>
                <ion-col size="auto" style="border-right: 0px"><ion-checkbox color="success"></ion-checkbox></ion-col>
                <ion-col size="11" style="border-left: 0px">I accept the Terms of Use and Privacy Policy</ion-col>
              </ion-row>           
          </ion-grid>
        </ion-item>              
      </div>       
      <div class="SETTINGS">
        <ion-button fill="clear">SETTINGS</ion-button>
      </div>
    </div>
  </div>
</ion-content>
