<ion-header>
  <ion-toolbar>
    <ion-title>studentstatus_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="container1">  
      <div class="Logo">
        <ion-img class="Size" src="https://enroll.lccdo.edu.ph/assets/img/lclogo.png"></ion-img>
      </div>
      <div class="info">
        <h1>LOURDES COLLEGE</h1>
        <h3>CAGAYAN DE ORO CITY</h3>
      </div>
      <div class="Rbutton">
        <ion-radio-group>
          <ion-item>
            <ion-label>NEW STUDENT</ion-label>
            <ion-radio slot="start"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>OLD STUDENT</ion-label>
            <ion-radio slot="start"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>TRANSFEREE</ion-label>
            <ion-radio slot="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <div class="enroll">
        <ion-button>PROCEED</ion-button>
      </div>
      <div class="SETTINGS">
        <ion-button fill="clear">SETTINGS</ion-button>
      </div>
    </div>
  </div>
</ion-content>
